<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>helloBar</servlet-name>
    <servlet-class>com.helloBar.helloBar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloBar</servlet-name>
    <url-pattern>/bar.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>helloBarEvaporation</servlet-name>
    <servlet-class>com.helloBar.helloBarEvaporation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloBarEvaporation</servlet-name>
    <url-pattern>/barEvaporation.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>helloBarRainfall</servlet-name>
    <servlet-class>com.helloBar.helloBarRainfall</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloBarRainfall</servlet-name>
    <url-pattern>/barRainfall.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>deal.register.register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>sendMailServlet</servlet-name>
    <servlet-class>deal.sendMail.sendMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendMailServlet</servlet-name>
    <url-pattern>/sendMailServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UserInfoList</servlet-name>
    <servlet-class>wxServlet.UserInfoList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoList</servlet-name>
    <url-pattern>/UserInfoList</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>deposit</servlet-name>
    <servlet-class>finishServlet.deposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deposit</servlet-name>
    <url-pattern>/deposit</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>buy</servlet-name>
    <servlet-class>finishServlet.buy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buy</servlet-name>
    <url-pattern>/buy</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>deal.register.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>resetPasswordServlet</servlet-name>
    <servlet-class>deal.resetPassword.resetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resetPasswordServlet</servlet-name>
    <url-pattern>/resetPasswordServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>deleteUserServlet</servlet-name>
    <servlet-class>deal.deleteUser.deleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUserServlet</servlet-name>
    <url-pattern>/deleteUserServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>updateUserServlet</servlet-name>
    <servlet-class>deal.updateUser.updateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateUserServlet</servlet-name>
    <url-pattern>/updateUserServlet</url-pattern>
  </servlet-mapping>
</web-app>